In [29]:
import pandas as pd

conditions = ["confirmed", "death", "recovered"]

def make_country_df(condition, country):
    df = pd.read_csv(f"data/time_{condition}.csv")
    df = df.loc[df["Country/Region"] == country]
    df = df.drop(df.columns[:4], axis = 1).sum().reset_index(name=condition)
    df = df.rename(columns={"index":"date"})
    return df

final_df = None

for condition in conditions:
    condition_df = make_country_df(condition, "Korea, South")
    if final_df is None:
        final_df = condition_df
    else:
        final_df = final_df.merge(condition_df)
        
final_df

        date  confirmed  death  recovered
0    1/22/20          1      0          0
1    1/23/20          1      0          0
2    1/24/20          2      0          0
3    1/25/20          2      0          0
4    1/26/20          3      0          0
..       ...        ...    ...        ...
928   8/7/22   20544420  25292          0
929   8/8/22   20694239  25332          0
930   8/9/22   20845973  25382          0
931  8/10/22   20983169  25441          0
932  8/11/22   21111840  25499          0

[933 rows x 4 columns]